<%- include('../layouts/header'); %>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Appointment List</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="d-flex justify-content-between filter mb-4">
              <div class="select-doctor">
                <select class="form-control" name="" id="doctorinfo">
                  <option value="">Select Doctor</option>
                  <% if(doctorList.length>0) {%>
                    <% doctorList.forEach((doctor,i)=>{ %>
                      <option value="<%=doctor.id%>"><%= doctor.name %></option>
                    <% }) %>
                  <% } %>
                </select>
              </div>
              <div class="select-date">
                <input type="text" class="form-control" id="date" placeholder="Select Date">
              </div>
              <div class="find-btn">
                <button class="btn btn-primary" onclick="searchDoctor()">Find Result</button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Doctor Name
                    </th>
                    <th>
                      Patient Name
                    </th>
                    <th>
                      Contact
                    </th>
                    <th>
                      Age
                    </th>
                    <th>
                      Disease
                    </th>
                    <th>
                      Selected Date
                    </th>
                    <th>
                      Creation Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                <% if(appointmentList.length>0){ %>
                  <% appointmentList.forEach(list=>{ %>
                  <tr>
                    <td class="py-1">
                      <%= list.doctor_name %>
                    </td>
                    <td>
                      <%= list.patient_name %>
                    </td>
                    <td>
                      <%= list.contact %>
                    </td>
                    <td>
                      <%= list.age %>
                    </td>
                    <td>
                      <%= list.disease %>
                    </td>
                    <td>
                      <%= list.chosen_date.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= list.creation_date.toLocaleDateString() %>
                    </td>
                  </tr>
                  <% }) %>
                <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<script src="../../public/additional/js/mc-calendar.min.js"></script>
<script>
  const myDatePicker = MCDatepicker.create({
    el: '#date',
    bodyType: 'inline',
    dateFormat: 'MMM-DD-YYYY',
    customOkBTN: 'OK',
  });
  function searchDoctor(){
    let date = document.getElementById('date').value;
    let doctor = document.getElementById('doctorinfo').value;
    
    let url = document.location.origin+`/admin/all-appointment/?doctor=${doctor}&date=${date}`;
    window.location.href=url;
    console.log(doctor);
  }
</script>