<%- include('../layouts/header'); %>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Appointment List</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Doctor Name
                    </th>
                    <th>
                      Patient Name
                    </th>
                    <th>
                      Contact
                    </th>
                    <th>
                      Age
                    </th>
                    <th>
                      Disease
                    </th>
                    <th>
                      Selected Date
                    </th>
                    <th>
                      Creation Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(appointmentList.length>0){ %>
                  <% appointmentList.forEach(list=>{ %>
                  <tr>
                    <td class="py-1">
                      <%= list.doctor_name %>
                    </td>
                    <td>
                      <%= list.patient_name %>
                    </td>
                    <td>
                      <%= list.contact %>
                    </td>
                    <td>
                      <%= list.age %>
                    </td>
                    <td>
                      <%= list.disease %>
                    </td>
                    <td>
                      <%= list.chosen_date.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= list.creation_date.toLocaleDateString() %>
                    </td>
                  </tr>
                  <% }) %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>