<%- include('../layouts/header'); %>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Core Service</h4>
            <form class="form-sample" method="POST" action="/home/add/core-service">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Service Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="service_name" class="form-control" placeholder="Dental"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Image Upload</label>
                    <div class="input-group col-sm-9">
                      <input type="file" name="" class="file-upload-default">
                      <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                      <input type="text" name="title" class="form-control" placeholder="Dental Care Service"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                      <input type="text" name="description" class="form-control"  placeholder="About Dental Care Service"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Number of Doctor</label>
                    <div class="col-sm-9">
                      <input type="number" name="number_of_doctor" class="form-control" placeholder="Number of Doctor"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary mr-2">Add Core Service</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Core Service List</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Image
                    </th>
                    <th>
                      Service Name
                    </th>
                    <th>
                      Title
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Number of Doctor
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(service.length>0){ %>
                    <% service.forEach(ser=>{ %>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces/face1.jpg" alt="image"/>
                      </td>
                      <td>
                        <%= ser.service_name %>
                      </td>
                      <td>
                        <%= ser.title %>
                      </td>
                      <td>
                        <%= ser.description %>
                      </td>
                      <td>
                        <%= ser.number_of_doctor %>
                      </td>
                    </tr>
                    <% }) %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>