<%- include('../layouts/header'); %>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Doctor List</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <!-- <th>
                      Image
                    </th> -->
                    <th>
                      Doctor Name
                    </th>
                    <th>
                      Email
                    </th>
                    <th>
                      Degree
                    </th>
                    <th>
                      Speacialist On
                    </th>
                    <th>
                      Work At
                    </th>
                    <th>
                      Available
                    </th>
                    <th>
                      Activetion Status
                    </th>
                    <th>
                      Appointment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(doctor.length>0){ %>
                    <% doctor.forEach(doc=>{ %>
                      <tr>
                        <!-- <td class="py-1">
                        </td> -->
                        <td>
                          <img src="<%=doc.profile_img%>" alt="image"/>
                          <%= doc.name %>
                        </td>
                        <td>
                          <!-- <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> -->
                          <%= doc.email %>
                        </td>
                        <td>
                          <%= doc.degree %>
                        </td>
                        <td>
                          <%= doc.speacialist_on %>
                        </td>
                        <td>
                          <%= doc.work_at %>
                        </td>
                        <td>
                          ------
                        </td>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <% if(doc.is_activeted===true){ %>
                                <input type="checkbox" name="is_activeted" class="form-check-input" onchange="changeStatus('<%=doc.is_activeted%>','<%=doc._id%>')" checked>
                                <i class="input-helper"></i>
                              <% } %>
                              <% if(doc.is_activeted===false){ %>
                                <input type="checkbox" name="is_activeted" class="form-check-input" onchange="changeStatus('<%=doc.is_activeted%>','<%=doc._id%>')">
                                <i class="input-helper"></i>
                              <% } %>
                            </label>
                          </div>
                        </td>
                        <td>
                          <a href="/admin/create-appointment/<%=doc._id%>">Appointment</a>
                        </td>
                      </tr>
                    <% }) %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); %>
<script>
  const changeStatus= (status,id)=>{
    // const doctorStatus = Boolean(status);
    let data;
    if(status==true || status=='true'){
      data = {
        is_activeted:false
      }
    }
    if(status==false || status=='false'){
      data = {
        is_activeted:true
      }
    }
    // console.log(data);
    
      let url = window.location.origin+'/user/edit-status/'+id;
      fetch(url, {
          method: "POST",
          headers: {'Content-Type': 'application/json'}, 
          body: JSON.stringify(data)
      }).then(res => {
      // console.log(res);
        console.log(res);
      });
      // console.log(status,id);
  }
</script>