<%- include('../layouts/header'); %>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Doctor List</h4>
            <!-- <p class="card-description">
              Add class <code>.table-striped</code>
            </p> -->
            <div class="table-responsive">
              <table class="table table-striped" id="data-table">
                <thead>
                  <tr>
                    <!-- <th>
                      Image
                    </th> -->
                    <th>
                      Doctor Name
                    </th>
                    <th>
                      Email
                    </th>
                    <th>
                      Degree
                    </th>
                    <th>
                      Speacialist On
                    </th>
                    <th>
                      Work At
                    </th>
                    <th>
                      Available
                    </th>
                    <th>
                      Activetion Status
                    </th>
                    <th>
                      Appointment
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(doctor.length>0){ %>
                    <% doctor.forEach((doc,i)=>{ %>
                      <tr>
                        <td>
                          <img src="<%=doc.profile_img%>" alt="image"/>
                          <%= doc.name %>
                        </td>
                        <td>
                          <%= doc.email %>
                        </td>
                        <td>
                          <%= doc.degree %>
                        </td>
                        <td>
                          <%= doc.speacialist_on %>
                        </td>
                        <td>
                          <%= doc.work_at %>
                        </td>
                        <td>
                          <i class="mdi mdi-arrow-down-drop-circle-outline"></i>
                          <button type="button" class="btn btn-sm" onclick="show_schdeul(event,'<%=JSON.stringify(doc.available)%>','<%=i+1%>')">
                            Check Availability
                          </button>
                        </td>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <% if(doc.is_activeted===true){ %>
                                <input type="checkbox" name="is_activeted" class="form-check-input" onchange="changeStatus('<%=doc.is_activeted %>','<%=doc._id%>')" checked>
                                <i class="input-helper"></i>
                              <% } %>
                              <% if(doc.is_activeted===false){ %>
                                <input type="checkbox" name="is_activeted" class="form-check-input" onchange="changeStatus('<%=doc.is_activeted %>','<%=doc._id%>')">
                                <i class="input-helper"></i>
                              <% } %>
                            </label>
                          </div>
                        </td>
                        <td>
                          <a href="/admin/create-appointment/<%=doc._id%>">Appointment</a>
                        </td>
                      </tr>
                    <% }) %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="d-flex">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<%- include('../layouts/footer'); %>
<script>
  let flag = true;
  const changeStatus= (status,id)=>{
    // const doctorStatus = Boolean(status);
    // console.log(status);
    // return;
    let data;
    if(status==true || status=='true'){
      data = {
        is_activeted:false
      }
    }
    if(status==false || status=='false'){
      data = {
        is_activeted:true
      }
    }
    // console.log(data);
    
      let url = window.location.origin+'/user/edit-status/'+id;
      fetch(url, {
          method: "POST",
          headers: {'Content-Type': 'application/json'}, 
          body: JSON.stringify(data)
      }).then(res => {
      // console.log(res);
        console.log(res);
      });
      // console.log(status,id);
  }
  function show_schdeul(e,time,postion){
    let table = document.getElementById('data-table');
    if(flag==true){
      let row = table.insertRow(parseInt(postion)+1);
      let cell = row.insertCell(0);
      cell.colSpan = "8";
      let rowData='';
      for(let data of JSON.parse(time)){
        console.log(data);
        if(data.day){
          rowData+=`
          <div class="d-flex justify-content-between">
            <div>
              <p style="font-size:18px;">${data.day}</p>
            </div>
            <div>
              <p style="font-size:18px;">${data.hospital}</p>
            </div>
            <div>
              <p style="font-size:18px;">${data.time}</p>
            </div>
            <div>
              <p style="font-size:18px;">${data.patient_cheack}</p>
            </div>
          </div>
          `
        }
      }
      cell.innerHTML = rowData;
      flag=false;
      return;
    }
    if(flag==false){
      table.deleteRow(parseInt(postion)+1);
      flag=true;
      return;
    }
    
  }
  // console.log("hello")
</script>